body {
  background-color: rgb(179, 179, 179);
  font-family: "Nunito", sans-serif;
}

body h1 {
  font-size: 3rem;
  font-weight: 900;
}

body ol > li {
  margin-block: 1rem;
}

body li {
  font-size: 1.2rem;
}

body .late {
  color: red;
}

body .deleted {
  color: lightgrey;
  text-decoration: line-through;
}

